body {
    background-color: #8CC1FE;
}

#header-nav,
#header-nav a,
#header-nav a:link,
#header-nav a:visited {
    color: #141618;
}

#header-nav a:hover {
    color: rgb(201, 234, 244);
}

.hamburger-nav {
    color: #141618;
}

.search-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    background: #F2F3F4;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 90%;
}

::placeholder {
    background: #F2F3F4;
}

input {
    border: none;
    outline: none;
    padding: 10px;
    width: 200px;
    font-size: 16px;
    background: #F2F3F4;
}

.search-button {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}

.search-button i {
    margin-right: 5px;
}

.category {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    gap: 20px;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 30px;

}
.category-item {
    padding: 20px;
    border: 2px solid #b7d7fc;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    color: #b7d7fc;
    font-size: 20px;
}
.category-item:hover {
    background-color: #e7e4e4;
    color: #8aa1bb;
    border: 2px solid #e7e4e4;
    transform: scale(1.05);
}

.highlight-banknote {
    justify-content: center;
    position: relative;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    max-width: 1200px;
    height: 500px;
    transition: grid-template-columns 0.6s ease-in-out;
}

.box {
    position: relative;
    overflow: hidden;
    transition: transform 0.6s ease-in-out, filter 0.6s ease-in-out;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* filter: grayscale(100%) opacity(50%); */
    transition: filter 0.6s ease-in-out;
}

#box-1 img {
    object-position: 63%;
}

#box-2 img {
    object-position: 32.5%;
}

#box-3 img {
    object-position: 25%;
}

#box-4 img {
    object-position: 80%;
}

#box-5 img {
    object-position: 18%;
}

#box-6 img {
    object-position: 47.5%;
}

#box-7 img {
    object-position: 44%;
}

.box:hover img {
    filter: grayscale(0%) opacity(100%);
}

.overlay {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(30px);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    text-transform: uppercase;
    opacity: 0;
    transition: all 400ms;
    border-radius: 10px;
}

.box:hover .overlay {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.highlight-banknote:hover .box {
    filter: grayscale(100%) opacity(30%);
}

.highlight-banknote .box:hover {
    filter: grayscale(0%) opacity(100%);
    transform: scale(1.05);
}

/* Dynamically expand hovered box */
.highlight-banknote:has(.box:hover) {
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.highlight-banknote:has(.box:nth-child(2):hover) {
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr 1fr;
}

.highlight-banknote:has(.box:nth-child(3):hover) {
    grid-template-columns: 1fr 1fr 5fr 1fr 1fr 1fr 1fr;
}

.highlight-banknote:has(.box:nth-child(4):hover) {
    grid-template-columns: 1fr 1fr 1fr 5fr 1fr 1fr 1fr;
}

.highlight-banknote:has(.box:nth-child(5):hover) {
    grid-template-columns: 1fr 1fr 1fr 1fr 5fr 1fr 1fr;
}

.highlight-banknote:has(.box:nth-child(6):hover) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 5fr 1fr;
}

.highlight-banknote:has(.box:nth-child(7):hover) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 5fr;
}

/* Text Overlay */
.box::after {
    content: attr(data-text);
    position: absolute;
    bottom: 20px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0;
    transform: translateY(30px);
    transition: all 400ms;
}

.box:hover::after {
    opacity: 1;
    transform: translateY(0);
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(248, 248, 248, 0.3);
    margin-top: 25px;
    backdrop-filter: blur(3px);
    background-color: rgba(7, 47, 95, 0.5);
}

.container-top {
    max-width: 1200px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin-top: 25px;
    backdrop-filter: blur(0px);
    background-color: rgba(12, 12, 12, 0.8);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
    background: #1f2733;
    border-radius: 10px;
}

h1 {
    text-align: center; 
    font-size: 42px; 
    color: #b7d7fc;
}

h2 {
    text-align: center; 
    font-size: 33px;
    color: #b7d7fc;
}

h3 {
    text-align: center; 
    font-size: 30px;
    margin: initial;
    color: #468fcb;
}

h4 {
    margin-left: 15px;
    font-size: 21px;
    color: rgb(230, 226, 226);
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    font-size: 21px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(230, 226, 226);
}

ul {
    list-style: none;
    font-size: 21px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 0 0 0 30px;
    color: rgb(230, 226, 226);
}

ul li::before {
    left: -1em;
    position: relative;
}

#top_btn {
    color: rgb(103, 129, 248);
}

#top_btn:hover {
    background-color: rgb(89, 127, 223);
    color: whitesmoke;
}

@media (max-width: 768px) {
    #header-nav {
        background-color: #141618;  
    }

    #header-nav,
    #header-nav a,
    #header-nav a:link,
    #header-nav a:visited {
        color: #b7d7fc;
    }

    .search-container {
        max-width: 225px;
        height: 30px;
        transform: translateY(-25%);
        right: 10px;
    }

    input {
        width: 100%;
        font-size: 14px;
    }

    .search-button {
        font-size: 14px;
    }

    .highlight-banknote {
        height: 200px;
        gap: 2px;
    }

    .overlay {
        bottom: 5px;
        padding: 5px 4px;
        font-size: 9px;
        border-radius: 6px;
    }

    h1 {
        font-size: 33px; 
    }
    
    h2 {
        font-size: 27px;
    }

    h3 {
        font-size: 27px;
    }
    
    h4 {
        font-size: 18px;
        margin: 15px;
    }

    p {
        font-size: 18px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    ul {
        font-size: 18px;
        margin-bottom: 10px;
        margin-right: 5px;
        padding: 0 0 0 30px;
    }

    .category-item {
        padding: 15px;
        font-size: 18px;
    }
} 