body {
    background-color: #8CC1FE;
}

#header-nav,
#header-nav a,
#header-nav a:link,
#header-nav a:visited {
    color: #141618;
}

#header-nav a:hover {
    color: rgb(201, 234, 244);
}

.hamburger-nav {
    color: #141618;
}

.category {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    gap: 20px;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 30px;

}
.category-item {
    padding: 20px;
    border: 2px solid #b7d7fc;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    color: #b7d7fc;
    font-size: 20px;
}
.category-item:hover {
    background-color: #e7e4e4;
    color: #8aa1bb;
    border: 2px solid #e7e4e4;
    transform: scale(1.05);
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(248, 248, 248, 0.3);
    margin-top: 25px;
    backdrop-filter: blur(3px);
    background-color: rgba(7, 47, 95, 0.5);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
    background: #1f2733;
    border-radius: 10px;
}

h1 {
    text-align: center; 
    font-size: 42px; 
    color: #b7d7fc;
}

h2 {
    text-align: center; 
    font-size: 33px;
    color: #b7d7fc;
}

h3 {
    text-align: center; 
    font-size: 30px;
    margin: initial;
    color: #468fcb;
}

h4 {
    margin-left: 15px;
    font-size: 21px;
    color: rgb(230, 226, 226);
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    font-size: 21px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(230, 226, 226);
}

ul {
    list-style: none;
    font-size: 21px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 0 0 0 30px;
    color: rgb(230, 226, 226);
}

ul li::before {
    left: -1em;
    position: relative;
}

@media (max-width: 768px) {
    #header-nav {
        background-color: #141618;  
    }

    #header-nav,
    #header-nav a,
    #header-nav a:link,
    #header-nav a:visited {
        color: #b7d7fc;
    }

    h1 {
        font-size: 33px; 
    }
    
    h2 {
        font-size: 27px;
    }

    h3 {
        font-size: 27px;
    }
    
    h4 {
        font-size: 18px;
        margin: 15px;
    }

    p {
        font-size: 18px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    ul {
        font-size: 18px;
        margin-bottom: 10px;
        margin-right: 5px;
        padding: 0 0 0 30px;
    }

    .category-item {
        padding: 15px;
        font-size: 18px;
    }
} 