section {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #E1DCD3;
    overflow-y: hidden;
}

.howl-group-wrapper {
    display: inline-block;
    text-align: center;
  }

.howl-group {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.letter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 9px;
}

.label {
    font-size: 45px;
    color: #2f3537;
    margin: 0;
    line-height: 0.1;
    font-family: 'Didot', serif;
}

.howl {
    display: flex;
    line-height: 1;
    font-family: 'cinzelregular';
}

.howl .big-h {
    font-size: 360px;
    background-color: #7f9497;
    color: #2f3537;
    line-height: 0.9;
}

.howl .rest {
    font-size: 300px;
    color: #2f3537;
    line-height: 0.9;
}

.divider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -20px;
    width: 100%;
}

.divider {
    flex: 1;
    border-top: 4px solid #2f3537;
    max-width: 400px;
    z-index: 10;
}

.owl {
    width: 150px;
    margin: 0 30px;
}

.language-toggle {
    position: absolute;
    top: unset;
    bottom: -30px;
    right: 0;
}

.intro {
    height: 100vh;
    margin: auto;
    display: block;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
     ". . ."
     ". intro-logo ."
     ". . .";
}

.intro-logo {
    grid-area: intro-logo;
    position: relative;
    text-decoration: none;
    text-align: center;
}

.nav-menu-box {
    height: 100vh;
    background-image: url(../images/background/sunflower-background.png);
    background-size: cover;
    background-position-y: 80%;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
    display: flex;
    text-align: center;
    background-color: #c4bbac;
}

.nav-menu-box nav,
.nav-menu-box nav a,
.nav-menu-box nav a:link,
.nav-menu-box nav a:visited {
    color: #412722;
    padding: 6px;
    letter-spacing: 2px;
    font-size: 36px;
    text-decoration: none;
}

.nav-menu-box nav a:visited:hover {
    color: #f7af20;
}

.language-toggle a {
    font-size: 21px;
    color: #412722;
}

.language-toggle a:hover {
    color: #E55934;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #ccc9c4;
}

::-webkit-scrollbar-thumb {
    background: #f7af20;
    border-radius: 10px;
}

#bottom {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
} 

#owl-text {
    text-align: center;
}

#owl-text p {
    margin: 0;
    color: #283033;
}

@media (max-width: 768px) {
    body {
        padding-top: 0;
    }

    .letter-group {
        margin: 0 6px;
    }
    
    .label {
        font-size: 21px;
        line-height: 1;
    }
    
    .howl .big-h {
        font-size: 120px;
    }
    
    .howl .rest {
        font-size: 75px;
    }
    
    .divider-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -10px;
    }
    
    .divider {
        border-top: 2px solid #2f3537;
        max-width: 200px;
    }
    
    .owl {
        width: 50px;
        margin: 0 15px;
    }

    .intro {
        grid-template-columns: 0.25fr 2fr 0.25fr;
        grid-template-rows: 0.5fr 3fr 0.5fr;
        grid-template-areas:
        ". . ."
        ". intro-logo ."
        ". . .";
    }

    .language-toggle {
        bottom: -35px;
        left: unset;
    }

    .language-toggle a {
        font-size: 18px;
    }

    #owl-text p {
        font-size: 20px;
    }

    .nav-menu-box {
        background-image: url(../images/background/sunflower-background-media.png);
        display: flex;
        justify-content: flex-start;
        padding-left: 15px;
    }

    .nav-pos-menu {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 24px;
        margin-bottom: 300px;
    }

    .nav-menu-box nav,
    .nav-menu-box nav a,
    .nav-menu-box nav a:link,
    .nav-menu-box nav a:visited {
        padding: 10px;
        font-size: 30px;
    }

    .nav-pos-menu a {
        text-align: left;
        display: block;
    }

    #bottom {
        top: 60%;
        font-size: 10px;
    } 
}