body {
    background-color: #d5d0c5;
    overflow: hidden;
}

#particles {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}

.howl-group-wrapper {
    display: inline-block;
    text-align: center;
    position: relative;
}

.howl-group {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.letter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 9px;
}

.label {
    font-size: 30px;
    color: #2f3537;
    margin: 0;
    line-height: 0.1;
    font-family: 'Didot', serif;
    z-index: 2;
}

.howl {
    display: flex;
    line-height: 1;
    font-family: 'cinzelregular';
}

.howl .big-h {
    position: relative;
    font-size: 240px;
    color: #2f3537;
    line-height: 0.9;
    z-index: 3;
}

.layered-letter {
    position: relative;
    display: inline-block;
}

.letter-bg {
    position: absolute;
    top: -8px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7f9497;
    z-index: 0;
}

.howl .rest {
    font-size: 180px;
    color: #2f3537;
    line-height: 0.9;
    z-index: 2;
}

.divider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -30px;
    width: 100%;
    z-index: 2;
}

.divider {
    flex: 1;
    border-top: 3px solid #2f3537;
    max-width: 450px;
    z-index: 10;
}

.owl {
    width: 120px;
    margin: 0 30px;
}

.menu-box {
    height: 100vh;
    background-image: url(../images/background/sunflower-background.png);
    background-size: cover;
    background-position-y: 65%;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    display: flex;
}

.menu-box nav,
.menu-box nav a,
.menu-box nav a:link,
.menu-box nav a:visited {
    color: #283033;
    padding: 6px;
    letter-spacing: 2px;
    font-size: 36px;
    text-decoration: none;
    z-index: 2;
}

.menu-box nav a:visited:hover {
    color: #e48b17;
}

.nav-pos-menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;
}

.language-toggle {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.language-toggle a {
    font-size: 21px;
    color: #283033;
}

.language-toggle a:hover {
    color: #e48b17;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #ccc9c4;
}

::-webkit-scrollbar-thumb {
    background: #f7af20;
    border-radius: 10px;
}

@media (max-width: 700px) {
    body {
        padding-top: 0;
    }

    .letter-group {
        margin: 0 6px;
    }
    
    .label {
        font-size: 20px;
        line-height: 1;
    }
    
    .howl .big-h {
        font-size: 120px;
    }

    .letter-bg {
        top: -4px;
    }
    
    .howl .rest {
        font-size: 90px;
    }
    
    .divider-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -10px;
    }
    
    .divider {
        border-top: 2px solid #2f3537;
        max-width: 200px;
    }
    
    .owl {
        width: 60px;
        margin: 0 15px;
    }

    .language-toggle {
        margin-top: 10px;
    }

    .language-toggle a {
        font-size: 18px;
        margin: 0;
    }

    .menu-box {
        background-image: none;
        display: flex;
    }

    .nav-pos-menu {
        gap: 10px;
    }

    .menu-box nav,
    .menu-box nav a,
    .menu-box nav a:link,
    .menu-box nav a:visited {
        padding: 3px 1px;
        font-size: 20px;
        letter-spacing: 0.5px;
    } 
}