@font-face {
    font-family: 'cinzel_decorativeregular';
    src: url('../font/cinzel/cinzeldecorative_regular_macroman/CinzelDecorative-Regular-webfont.eot');
    src: url('../font/cinzel/cinzeldecorative_regular_macroman/CinzelDecorative-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/cinzel/cinzeldecorative_regular_macroman/CinzelDecorative-Regular-webfont.woff2') format('woff2'),
        url('../font/cinzel/cinzeldecorative_regular_macroman/CinzelDecorative-Regular-webfont.woff') format('woff'),
        url('../font/cinzel/cinzeldecorative_regular_macroman/CinzelDecorative-Regular-webfont.ttf') format('truetype'),
        url('../font/cinzel/cinzeldecorative_regular_macroman/CinzelDecorative-Regular-webfont.svg#cinzel_decorativeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cormorant_infantlight';
    src: url('../font/cormorant/cormorantinfant_light_macroman/CormorantInfant-Light-webfont.eot');
    src: url('../font/cormorant/cormorantinfant_light_macroman/CormorantInfant-Light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/cormorant/cormorantinfant_light_macroman/CormorantInfant-Light-webfont.woff2') format('woff2'),
        url('../font/cormorant/cormorantinfant_light_macroman/CormorantInfant-Light-webfont.woff') format('woff'),
        url('../font/cormorant/cormorantinfant_light_macroman/CormorantInfant-Light-webfont.ttf') format('truetype'),
        url('../font/cormorant/cormorantinfant_light_macroman/CormorantInfant-Light-webfont.svg#cormorant_infantlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cinzelregular';
    src: url('../font/cinzel/cinzel_regular_macroman/Cinzel-Regular-webfont.eot');
    src: url('../font/cinzel/cinzel_regular_macroman/Cinzel-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/cinzel/cinzel_regular_macroman/Cinzel-Regular-webfont.woff2') format('woff2'),
        url('../font/cinzel/cinzel_regular_macroman/Cinzel-Regular-webfont.woff') format('woff'),
        url('../font/cinzel/cinzel_regular_macroman/Cinzel-Regular-webfont.ttf') format('truetype'),
        url('../font/cinzel/cinzel_regular_macroman/Cinzel-Regular-webfont.svg#cinzelregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/ /*center the menu navigator*/
}

footer {
    height: 15px;
}

nav {
    grid-column: col-start/span 12;
    grid-row: 1;
}

#header-nav,
#header-nav a,
#header-nav a:link,
#header-nav a:visited {
    padding: 9px;
    letter-spacing: 1px;
    font-size: 36px;
    display: flex;
    text-decoration: none;
}

#header-nav a {
    transition: color 0.3s ease;
}

#header-nav {
    margin-bottom: 4px;
}

#header-nav.show {
    display: flex; /* Display the menu */
    opacity: 1; /* Fully visible */
}

.hamburger-nav {
    display: none;
    font-size: 25px;
    position: absolute;
    left: 0;
    top: 9px;
    text-decoration: none;
}

.search-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    background: #F2F3F4;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    z-index: 999;
}

::placeholder {
    background: #F2F3F4;
}

input {
    border: none;
    outline: none;
    padding: 10px;
    width: 200px;
    font-size: 16px;
    background: #F2F3F4;
}

.search-button {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}

.search-button i {
    margin-right: 5px;
}

.language-toggle {
    position: absolute;
    top: 33px;
    right: 330px;
    z-index: 999;
}

.language-toggle a {
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease, transform 0.3s ease-out, text-shadow 0.3s ease;
}

.language-toggle a:hover {
    font-weight: bold;
    transform: scale(1.05);
}

.title {
    text-align: center;
    font-size: 30px;
    margin: 0;
}

.big-title {
    text-align: center;
    font-size: 50px;
    padding: 30px; 
    letter-spacing: 5px;
    position: relative;
    margin: 0;
}

b {
    font-size: 27px;
}

p {
    font-size: 27px;
}

#top_btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    z-index: 1000;
    font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 768px) {
    header {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    body {
        padding-top: 45px;
    }

    .hamburger-nav {
        display: block;
        margin-left: 10px;
    }

    #header-nav,
    #header-nav a,
    #header-nav a:link,
    #header-nav a:visited {
        font-size: 27px;
    }

    #header-nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        width: 100%;
        padding: 10px 0;
        z-index: 10;
    }

    #header-nav a {
        padding: 10px;
        text-align: left;
        margin: 0;
    }

    .search-container {
        max-width: 145px;
        height: 30px;
        transform: translateY(-25%);
        right: 10px;
    }

    input {
        width: 100%;
        font-size: 13px;
    }

    .search-button {
        font-size: 13px;
    }

    .language-toggle {
        top: 40px;
        right: unset;
        left: 40px;
    }

    .language-toggle a {
        font-size: 17px;
    }

    .big-title {
        font-size: 36px;
        padding: 15px; 
        letter-spacing: 3px;
    }

    b {
        font-size: 21px;
    }
    
    p {
        font-size: 21px;
    }
}